<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wwyz.loltv"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        <activity
            android:name="com.wwyz.loltv.YoutubeActionBarActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wwyz.loltv.TwitchPlayer"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.wwyz.loltv.MatchDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wwyz.loltv.SideMenuActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wwyz.loltv.loadMore.LoadMore_Activity_Channel"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wwyz.loltv.loadMore.LoadMore_Activity_Base"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wwyz.loltv.setting.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wwyz.loltv.InstructionActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.wwyz.loltv.FlashInstallerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.wwyz.loltv.loadMore.LoadMore_Activity_Searchre_Activity_Search"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wwyz.loltv.loadMore.LoadMore_Activity_Search_Youtube"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wwyz.loltv.loadMore.LoadMore_Activity_Search_Twitch"
            android:label="@string/app_name" >
        </activity>

        <receiver
            android:name="com.wwyz.loltv.MyBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service android:name="com.wwyz.loltv.MyIntentService" />
    </application>

</manifest>